@use "system.scss" as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 2rem;
  @include MQ(md) {
    font-size: rem(14);
    line-height: rem(24);
  }
}

h2 {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}
