@use "system.scss" as *;

.ly_inner {
  @include contentCentering();
}

.ly_main {
  padding-top: rem(70);
  min-height: calc(100vh - rem(70));

  @include MQ(md) {
    padding-top: 0;
    min-height: 0;
  }
}
