@use "sass:math";

$breakpoint: 767;
$contSpaceValue: 25;
$innerContWidthValue: 1200;
$contWidthValue: $innerContWidthValue + $contSpaceValue * 2;
$contWidth: $contWidthValue;

// Color
// -------------------------------------------------------------------
$themeColor: #f0f2f0;
$baseColor: #FFFFFF;
$textDefaultColor: #090905;
$orangeColor:#f39c12;
$grayColor:#474e51;
$borderColor:#d4d7d3;
$lightBlueColor:#DCF4F8;
$darkBlueColor:rgba(215, 233, 236, 0.95);
$aiColor:#004C71;
$linkColor:#425052;
$titleColor:#424242;

// responsive system
// ---------------------
// MediaQuaries
// -------------------------------------------------------------------

$breakpoints: (
	"xss": "(max-width: 350px)",
	"xs": "(max-width: 398px)",
	"sm": "(max-width: 575px)",
	"md": "(max-width: 767px)",
	"lg": "(max-width: 1100px)",
	"xl": "(max-width: 1200px)",
	"xll": "(max-width: 1399px)",

  "ipad": "(max-width: 1024px)",

  "cont": "(min-width: 768px)"
);

@mixin MQ($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
	  @content;
	}
}

// Layouts
// -------------------------------------------------------------------
@mixin contentCentering(){
  max-width: rem($contWidth);
  padding-right: rem($contSpaceValue);
  padding-left: rem($contSpaceValue);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  @include MQ(md) {
    max-width: 100%;
  }
}

// ---------------------
// font-size
// -------------------------------------------------------------------
$baseFontSize: 16;

@function rem($px) {
  @return calc($px / $baseFontSize) * 1rem;
}

// ---------------------
// font-family
// -------------------------------------------------------------------
$font-hiragino:"Capriola", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;

// ---------------------
// hover
// -------------------------------------------------------------------
@mixin hover {
  @media (hover: hover) and (pointer: fine)  {
    &:hover {
      @content;
    }
  }
}
