@use "../system.scss" as *;

.modal {
    z-index: 99999 !important;
    &-backdrop {
        z-index: 99999 !important;
    }
    &-header {
        height: rem(50);
        text-align: right;
    }

    &-contents {
        padding: rem(20);
    }
}
