@use "../system.scss" as *;

.mv {
  z-index: 100;
  height: calc(100vh - 70px);
  width: 100%;
  // background-color: #f0efeb;
  // background-color: #55b1ff;
  // background-color: #333333;
  background-color: #C7B897;
  position: relative;

  @include MQ(md) {
    height: 100vh;
  }

  &-leftUp {
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Capriola", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
    position: relative;
    // background-color: #424242;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &_text {
      font-size: 130px;
      letter-spacing: -.002em;
      -webkit-background-clip: text;
      background-color: #ffffff;

      @include MQ(xl) {
        font-size: 100px;
      }

      @include MQ(ipad) {
        font-size: 80px;
      }

      @include MQ(md) {
        font-size: 40px;
      }
    }

    h1 {
      font-size: 70px;

      @include MQ(md) {
        font-size: 35px;
      }
    }
  }

  &-scrolldown {
    position: absolute;
    left: 50%;
    bottom: 10px;
    height: 110px;

    span {
      position: absolute;
      left: -30px;
      top: -32px;
      font-family: "Capriola", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
      /*テキストの形状*/
      color: #eee;
      font-size: 1.3rem;
      letter-spacing: 0.05em;
      font-weight: bold;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 2px;
      height: 30px;
      background: #eee;
      animation: pathmove 1.4s ease-in-out infinite;
      opacity: 0;
    }

    @keyframes pathmove {
      0% {
        height: 0;
        top: 0;
        opacity: 0;
      }

      30% {
        height: 30px;
        opacity: 1;
      }

      100% {
        height: 0;
        top: 50px;
        opacity: 0;
      }
    }
  }

  h1 {
    letter-spacing: .1rem;
    font-weight: bold;

    span {
      display: inline-block;
      -webkit-background-clip: text;
      background-color: #ffffff;
    }
  }
}