@use "../system.scss" as *;

.mv {
  z-index: 100;
  height: calc(100vh - rem(70));
  width: 100%;
  // background-color: #f0efeb;
  // background-color: #55b1ff;
  background-color: #333333;
  // background-color: #C7B897;
  position: relative;

  @include MQ(md) {
    height: 100vh;
  }

  &-title {
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Capriola", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
    position: relative;
    background-color: $baseColor;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: rem(70);

      @include MQ(md) {
        font-size: rem(35);
      }
    }
  }

  &-scrolldown {
    position: absolute;
    left: 50%;
    bottom: rem(10);
    height: rem(110);

    span {
      position: absolute;
      left: rem(-30);
      top: rem(-32);
      font-family: "Capriola", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
      /*テキストの形状*/
      color: $baseColor;
      font-size: rem(20);
      letter-spacing: 0.05em;
      font-weight: bold;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: rem(2);
      height: rem(30);
      background: $baseColor;
      animation: pathmove 1.4s ease-in-out infinite;
      opacity: 0;
    }

    @keyframes pathmove {
      0% {
        height: 0;
        top: 0;
        opacity: 0;
      }

      30% {
        height: rem(30);
        opacity: 1;
      }

      100% {
        height: 0;
        top: rem(50);
        opacity: 0;
      }
    }
  }

  h1 {
    letter-spacing: .1rem;
    font-weight: bold;

    span {
      display: inline-block;
      -webkit-background-clip: text;
      background-color: #ffffff;
    }
  }
}