@use "../system.scss" as *;

.top {

  &-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-contents_title {
    text-align: center;
    font-size: rem(56);
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
    color: #424242;
    font-weight: 400;
    font-family: 'Capriola', "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
    overflow: hidden;

    @include MQ(md) {
      font-size: rem(36);
      margin: 1.3rem 0 1.3rem 0;
    }
  }

  // about
  &-about {
    @include MQ(cont) {
      display: flex;
      justify-content: center;
    }
  }

  &-about_image {
    text-align: center;

    @include MQ(cont) {
      margin-right: 3rem;
    }

    img {
      width: 100%;
      max-width: rem(300);
      box-shadow: -1.875rem 1.875rem 0 #C7B897;

      @include MQ(md) {
        max-width: rem(210);
        box-shadow: -1.25rem 1.25rem 0 #C7B897;
      }
    }
  }

  &-about_text {
    margin-top: rem(30);
    margin-bottom: rem(30);

    @include MQ(md) {
      margin-top: rem(15);
      margin-bottom: rem(15);
    }
  }

  &-about_item {
    width: 50%;
    padding: 1rem;
    background-color: $themeColor;

    @include MQ(md) {
      margin-top: rem(35);
      width: 100%;
      padding: 0.5rem;
    }
  }

  &-about_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: rem(40);

      @include MQ(md) {
        width: rem(35);
      }
    }
  }

  &-about_dl {
    display: flex;
    margin-bottom: 0.3rem;

    dt {
      font-weight: normal;
      min-width: rem(90);
    }
  }

  // chart
  &-chart {
    margin-top: rem(15);
    margin-bottom: rem(15);

    &_pc {
      @include MQ(cont) {
        display: flex;
        justify-content: space-around;
      }

      @include MQ(md) {
        display: none;
      }
    }

    &_sp {
      @include MQ(cont) {
        display: none;
      }

      @include MQ(md) {
        display: block;
      }
    }

    &_contents {
      @include MQ(cont) {
        width: 38%;
      }
    }
  }

  &-skill_text {
    margin-bottom: rem(15);
  }

  &-contact {
    max-width: rem(785);
    margin: 0 auto;

    p {
      margin-bottom: rem(15);
    }
  }
}

.swiper {
  &-container {
    width: 100%;
    padding-top: rem(50);
    padding-bottom: rem(50);
  }

  &-slide {
    width: rem(270) !important;
    border: solid rem(1) $aiColor;
    border-radius: rem(20);
    background-color: #ffffff;
  }

  &-pagination {
    bottom: rem(-1) !important;
  }
}
