@use "../system.scss" as *;

.top {

  &-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-contents_title {
    text-align: center;
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
    color: #424242;
    font-weight: 400;
    font-family: 'Capriola', "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
    overflow: hidden;

    @include MQ(md) {
      font-size: 2rem;
      margin: 1.3rem 0 1.3rem 0;
    }
  }

  // about
  &-about {
    @include MQ(cont) {
      display: flex;
      justify-content: center;
    }
  }

  &-about_image {
    text-align: center;

    @include MQ(cont) {
      margin-right: 3rem;
    }

    img {
      width: 100%;
      max-width: 300px;
      box-shadow: -1.875rem 1.875rem 0 #C7B897;

      @include MQ(md) {
        max-width: 210px;
        box-shadow: -1.25rem 1.25rem 0 #C7B897;
      }
    }
  }

  &-about_text {
    margin-top: 30px;
    margin-bottom: 30px;

    @include MQ(md) {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  &-about_item {
    width: 50%;
    padding: 1rem;
    background-color: $themeColor;

    @include MQ(md) {
      margin-top: 35px;
      width: 100%;
      padding: 0.5rem;
    }
  }

  &-about_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 40px;

      @include MQ(md) {
        width: 35px;
      }
    }
  }

  &-about_dl {
    display: flex;
    margin-bottom: 0.3rem;

    dt {
      font-weight: normal;
      min-width: 90px;
    }
  }

  // chart
  &-chart {
    margin-top: 15px;
    margin-bottom: 15px;

    &_pc {
      @include MQ(cont) {
        display: flex;
        justify-content: space-around;
      }

      @include MQ(md) {
        display: none;
      }
    }

    &_sp {
      @include MQ(cont) {
        display: none;
      }

      @include MQ(md) {
        display: block;
      }
    }

    &_contents {
      @include MQ(cont) {
        width: 38%;
      }
    }
  }

  &-skill_text {
    margin-bottom: 15px;
  }

  &-contact {
    max-width: 785px;
    margin: 0 auto;

    p {
      margin-bottom: 15px;
    }
  }
}

@-webkit-keyframes bgroop {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 2000px 0;
  }
}

@keyframes bgroop {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 2000px 0;
  }
}

.swiper {
  &-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-slide {
    width: 270px !important;
    border: solid 1px #004C71;
    border-radius: 20px;
    background-color: #ffffff;
  }

  &-pagination {
    bottom: -1px !important;
  }
}
