.App {
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    background: linear-gradient(to left, #9f92ff, #ff7689);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }